{
  "tabWidth": 4,
  "useTabs": false,
  "editor.formatOnSave": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[scss]": {
    "tabWidth": 2
  },
  "[sass]": {
    "tabWidth": 2
  },
  "[jade]": {
    "tabWidth": 4,
    "useTabs": true
  }
}
