//- templates/footer.pug
footer
    .contact
        h2.h3-like 
            span Other Places  
        ul    
            li
                a(href='https://github.com/chrisvanwagoner', target='_blank', rel='noopener') GitHub
            li
                a(href='https://www.linkedin.com/in/chrisvanwagoner/', target='_blank', rel='noopener') LinkedIn
            li
                a(href='https://vsco.co/cvw/gallery', target='_blank', rel='noopener') VSCO
    .copyright 
        span &copy;2023
script(src="js/scripts.js")