//- templates/nav.pug
nav
    ul
        li 
            a(href='/') Home
        li 
            a(href='/photos.html') Photos
        li 
            a(href='/colophon.html') Colophon
button.toggle(aria-labelledby="toggle-label")
    span#toggle-label(hidden) Switch to dark mode