//- data/photo-gallery-info.pug

-
    const photoGalleryInfo = [
        {
            src: "images/vsco/0F182069-D904-4AB2-B0D0-7500821CCF70.jpg",
            src2x: "images/vsco/0F182069-D904-4AB2-B0D0-7500821CCF70@2x.jpg"
        },
        {
            src: "images/vsco/6C0B1AC6-D15C-448A-8219-C2E40F685570.jpg",
            src2x: "images/vsco/6C0B1AC6-D15C-448A-8219-C2E40F685570@2x.jpg"
        },
        {
            src: "images/vsco/9C54F1A4-A7E2-4746-8BD7-37920165313C.jpg",
            src2x: "images/vsco/9C54F1A4-A7E2-4746-8BD7-37920165313C@2x.jpg"
        },
        {
            src: "images/vsco/19D98843-1605-48E3-B484-08FC58319B92.jpg",
            src2x: "images/vsco/19D98843-1605-48E3-B484-08FC58319B92@2x.jpg"
        },
        {
            src: "images/vsco/43CE6856-725A-4829-9AA9-D4FBA9E1CDB2.jpg",
            src2x: "images/vsco/43CE6856-725A-4829-9AA9-D4FBA9E1CDB2@2x.jpg"
        },
        {
            src: "images/vsco/57A7BCFE-7512-4139-818C-25F10ACA99B0.jpg",
            src2x: "images/vsco/57A7BCFE-7512-4139-818C-25F10ACA99B0@2x.jpg"
        },
        {
            src: "images/vsco/91F5C5D2-03B1-409C-9A1B-A80C510F3297.jpg",
            src2x: "images/vsco/91F5C5D2-03B1-409C-9A1B-A80C510F3297@2x.jpg"
        },
        {
            src: "images/vsco/534D9C73-31E9-4952-852C-008AA0422CA7.jpg",
            src2x: "images/vsco/534D9C73-31E9-4952-852C-008AA0422CA7@2x.jpg"
        },
        {
            src: "images/vsco/6432E716-6AFC-4307-9B4A-1B125382C9B8.jpg",
            src2x: "images/vsco/6432E716-6AFC-4307-9B4A-1B125382C9B8@2x.jpg"
        },
        {
            src: "images/vsco/B887C474-F22C-4251-8F0B-9B8F5552568C.jpg",
            src2x: "images/vsco/B887C474-F22C-4251-8F0B-9B8F5552568C@2x.jpg"
        },
        {
            src: "images/vsco/CA59373D-A831-41FF-9B6F-29C33C96412F.jpg",
            src2x: "images/vsco/CA59373D-A831-41FF-9B6F-29C33C96412F@2x.jpg"
        },
        {
            src: "images/vsco/7848E431-545F-4AE0-ABA0-D35D949E9203.jpg",
            src2x: "images/vsco/7848E431-545F-4AE0-ABA0-D35D949E9203@2x.jpg"
        },
        {
            src: "images/vsco/IMG_4258.JPG",
            src2x: "images/vsco/IMG_4258@2x.JPG"
        },
        {
            src: "images/vsco/IMG_5562.JPG",
            src2x: "images/vsco/IMG_5562@2x.JPG"
        },
        {
            src: "images/vsco/IMG_7058.JPG",
            src2x: "images/vsco/IMG_7058@2x.JPG"
        },
        {
            src: "images/vsco/IMG_7465.JPG",
            src2x: "images/vsco/IMG_7465@2x.JPG"
        },
        {
            src: "images/vsco/IMG_7582.JPG",
            src2x: "images/vsco/IMG_7582@2x.JPG"
        },
        {
            src: "images/vsco/IMG_7675.JPG",
            src2x: "images/vsco/IMG_7675@2x.JPG"
        }
    ]