doctype html
html(lang='en')
	include templates/head.pug
	body.colophon
		include templates/nav.pug
		button.toggle(aria-labelledby="toggle-label")
			span#toggle-label(hidden) Switch to dark mode
		header
			h1.header__title Colophon
			.header__intro
				p Finished, for now.
				p This site is written in VSCodium, built with Pug and Gulp, and hosted on Netlify.
		main
		include templates/footer.pug