doctype html
html(lang='en')
	include templates/head.pug
	body.single-photo-page
		include templates/nav.pug
		header
			h1.header__title
			.header__intro
		main
			img(src="images/vsco5d76ff816e063.jpg", alt="")
		include templates/footer.pug