/***********************************
base.scss
***********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: $green;
  color: #FFF;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  font-size: 20px;
  font-family: sans-serif; 
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a {
  text-rendering: optimizeLegibility;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3,
.h3-like {
  @extend %h3;
}

h4 {
  @extend %h4;
}

.lede {
  line-height: 1.5;
  // width: fit-content;
}

p {
  @extend %paragraph;

  // &:not(:last-child) {
  //   margin-bottom: $lh;
  // }
}

small {
  @extend %small;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

li {
  // &:not(:last-child) {
  //   margin-bottom: $lh * 0.5;
  //   margin-bottom: 10px;
  // }
}

a {
  @extend %link;
}