/***********************************
  Components
***********************************/
.skip-to-content {
  @extend %visuallyhidden;
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  
  a {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
  }
}

.main__clients {
  gap: 16px;
  
  @media #{$min-1000} {
    gap: 2vw;
  }
}

.client {
  position: relative;
  text-align: right;
}

.client__name {
  @extend %heading;
  display: inline-block;
  // font-size: 5vw;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;
  transition: all 100ms ease-out;
  
  @media #{$min-800} {
    font-size: 4vw;
    font-weight: 200;
    line-height: 1.2;
  }

  @media #{$min-1000} {
    font-size: 2.4rem;
  }

  &:before,
  &:after {
    bottom: 0;

    @media #{$min-800} {
      bottom: 0.1em;
    }

    @media #{$min-1200} {
    }
  }

  span {
    overflow: hidden;
  }
}



/***********************************
Footer
***********************************/
footer {
  font-size: 0.7rem;
  text-align: center;
}