/* main.scss */

@import "fonts";
@import "variables";
@import "keyframes";
@import "base";
@import "layout";
@import "components";
// @import "utility";

body {
  --hover: #00584b;
  animation: 200ms fade-in;
	background-color: $bg;
	color: $text;
  font-family: -apple-system, BlinkMacSystemFont, avenir, "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-weight: 300;
	max-width: 1056px;
  padding: 16px;
  position: relative;
  transition: all 0.2s ease-in-out;

	@media #{$min-800} {
		margin-right: auto;
		margin-left: auto;
	}

	&.dark-mode {
    --hover: #FFFFFF;
		background-color: $off-black;
		color: $light-grey;
    font-weight: 400;

		img {
			filter: brightness(0.7);
		}

    p,
    a {
      font-weight: 500; 
    }

		path {
			stroke: $light-grey;
		}
	}

	@media (prefers-color-scheme: dark) {
    --hover: #FFFFFF;

    &:not(.light-mode) {
      background-color: $off-white;
      color: $light-grey;

      img {
        filter: brightness(0.7);
      }

      p {
        font-weight: 500;
      }

      path {
        stroke: $light-grey;
      }
    }
	}
}




/***********************************
  Header
***********************************/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 2rem;
    line-height: $lh;
    text-align: center;
  }

  .lede {
    text-align: center;
  }
  
  img {
    aspect-ratio: 1;
    height: auto;
    object-fit: contain;
    transition: filter 0.2s ease-in-out;
    width: 100%;
  }
}

/***********************************
  Main
***********************************/
main {
  
}

.photo-grid {
  display: grid;
  // flex-direction: column;
  // gap: $lh * 3;
  gap: 4vw;
  // padding: 20px;
  width: 100%;
  
  @media #{$min-1000} {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    outline: 2px solid transparent;
    outline-offset: 3px;
    transition: all 200ms ease-in-out;
  }
  
  img {
    max-height: 512px;
    aspect-ratio: 1;
    object-fit: contain;
    place-items: center;
  }
}

.contact {
  h2 {
    position: relative;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
