/***********************************
main.scss
***********************************/

@import "fonts";
@import "variables";
@import "keyframes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: $green;
  color: #FFF;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  font-size: 16px;
  font-family: 'Inter', sans-serif; 
  scroll-behavior: smooth;

  @media #{$min-800} {
    font-size: 20px;
  }

}

// @supports (font-variation-settings: normal) {
//   html { font-family: 'Inter var', sans-serif; }
// }

body {
  animation: 1500ms fade-in;
	background-color: $bg;
	font-family: 'Inter var', 'Inter', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-weight: 300;
	font-variation-settings: 'wght'300;
	color: $text;
	max-width: 1560px;
  padding:$lh;
  transition: all 0.2s ease-in-out;
  --hover: #00584b;

	@media #{$min-800} {
		margin-right: auto;
		margin-left: auto;
	}

  .toggle {
    height: 24px;
    width: 24px;
    position: absolute;
    right: $lh;
    top: $lh;
    background-color: inherit;
    opacity: 0.7;
    border-radius: 40px;
    cursor: pointer;
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid $text;
    border: 0;
    color: $text;
    background-image: url(../images/sun.svg);
  }

	&.dark-mode {
		color: #CACACA;
		background-color: #191c1b;
    --hover: #fff;

		img {
			filter: brightness(0.7);
		}
		path {
			stroke: #CACACA;
		}

    .toggle {
      border-color: #CACACA;
      color: $bg;
      background-image: url(../images/moon.svg);
    }
	}

	@media (prefers-color-scheme: dark) {
    --hover: #fff;
    &:not(.light-mode) {
      color: #CACACA;
      background-color: #191c1b;

      img {
        filter: brightness(0.7);
      }

      path {
        stroke: #CACACA;
      }
    }
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a {
  text-rendering: optimizeLegibility;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3,
.h3-like {
  @extend %h3;
}

h4 {
  @extend %h4;
}

p {
  @extend %paragraph;
}

small {
  @extend %small;
}

ul {
  list-style: none;
}

/***********************************
  Header
***********************************/
header {
	@extend %grid-header;
	// height: 80vh;
	margin-bottom: $lh * 8;
	overflow: hidden;
	@media #{$min-600} {
		// height: auto;
	}

	@media #{$min-1000} {
		// margin-bottom: 0;
		// min-height: 700px;
    height: 90vh;
	}

	@media #{$min-1200} {
		// height: 100vh;
    // margin-bottom: $lh * 8;
	}

  .header__name {
		grid-column: 1 / -1;
    position: relative;
    margin-bottom: $lh * 2;

		@media #{$min-1000} {
			grid-column: 8 / 12;
			grid-row: 7 / 8;
      margin-bottom: 0;
		}
	}

	.header__figure {
		grid-column: 2 / 10 span;
		grid-row: 2 / 3;
		margin-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
    
		@media #{$min-1000} {
      border-radius: 0;
			box-shadow: none;
			display: flex;
			grid-column: 1 / 6 span;
      grid-row: 2 / 10 span;
			height: 100%;
			justify-content: center;
			margin-bottom: 0;
			width: 100%;
		}

		img {
			height: auto;
			transition: filter 0.2s ease-in-out;
			width: 100%;

			@media #{$min-1000} {
				margin-right: auto;
				object-fit: cover;
				opacity: var(--opacity);
				transform: translate(var(--left));
				width: 100%;
			}
		}
	}

	.header__bio {
		grid-column: 1 / -1;
		grid-row: 7 / 12;
		position: relative;

		@media #{$min-1000} {
			grid-column: 8 / 12;
			grid-row: 8 / 12;
		}

		p {
			position: relative;
		}

		a {
			@extend %link;
			font-size: $fs;
		}
	}

	svg {
		position: absolute;
		bottom: -300px;
		right: 0;
		z-index: -1;

		@media #{$max-1000} {
		}

		path {
			&.animate {
				stroke-dasharray: 5000;
				stroke-dashoffset: 5000;
				animation: dash 750ms linear 1750ms forwards;
			}
		}
	}

	@media #{$min-1000} {

		.fade-left,
		.fade-right {
			right: var(--left);
		}
	}
}

/***********************************
  Main
***********************************/
main {
  @extend %grid;
  margin-bottom: $lh * 8;
  overflow: hidden;
  padding-bottom: $lh;

  .main__title {
    grid-column: 1 / -1;
    margin-bottom: $lh * 4;
    position: relative;

    @media #{$min-1000} {
      grid-column: 1 / 12 span;
      margin-bottom: 10vw;
    }
  }

  .main__clients {
    grid-column: 1 / -1;
  }

  .client {
    position: relative;
    overflow: hidden;
    text-align: right;

    &:not(:last-child) {
      margin-bottom: 1.7vh;
    }
    @media #{$min-1000} {
      margin-right: 15px;
    }

  }

  .client__name {
    @extend %heading;
    @extend %link;
    display: inline-block;
    font-size: 5vw;
    font-weight: 200;
    font-variation-settings: 'wght' 200;
    letter-spacing: -0.01vw;
    line-height: 1.2;
    transition: all 100ms ease-out;

    @media #{$min-800} {
      font-size: 4vw;
      line-height: 1.2;
    }
    
    @media #{$min-1200} {
      // font-size: 60px;
      font-size: 5vw;
      letter-spacing: -3px;
    }

    @media #{$min-1600} {
      font-size: 90px;
      letter-spacing: -3px;
    }

    &:before,
    &:after {
      bottom: 4px;

      @media #{$min-800} {
        bottom: 7px;
      }
      @media #{$min-1200} {
        bottom: 10px;
      }
    }

    span {
      overflow: hidden;
    }
  }
}

/***********************************
Footer
***********************************/
footer {
  display: block;
  margin-bottom: $lh * 8;

  .contact {
    // grid-column: 2 / 12;
  }

  h2 {
    position: relative;
    margin-bottom: $lh * 2;
  }

  li {
    &:not(:last-child) {
      margin-bottom: $lh;
    }

  }

  a {
    @extend %link;
  }

  p {
    margin-top: $lh * 2;
  }

}